body{font-size:14px; margin:0; font-family:Arial, Helvetica, sans-serif}
a:link {text-decoration: none; color:#999}
a:visited {text-decoration: none; color: #666;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}
ul li{list-style:none;}
.clear{clear: both;}
.clearfix{_zoom: 1;}
.clearfix:after{visibility: hidden;display: block;font-size:0;content: ".";clear:both;height:0;}

#bgMask{position:fixed; width:100%; height:100%; background-color:#000; z-index:10; top:0; left:0; opacity:0.5;filter:alpha(opacity=50); display:none;}
#bgTransparent{position:fixed;z-index:11; top:50%; left:50%; display:none; margin-top:-290px; margin-left:-480px; width:960px; height:580px; background-color:#FFF; padding:10px; overflow:scroll; overflow-x:hidden;}
.clear {clear: both;}
#bgMask{_position:absolute;	_left:expression(eval(document.documentElement.scrollLeft));_top:expression(eval(document.documentElement.scrollTop))}
#bgTransparent{	_position:absolute;	_left:expression(eval(document.documentElement.scrollLeft+(document.documentElement.clientWidth/2)));	_top:expression(eval(document.documentElement.scrollTop+(document.documentElement.clientHeight/2)));}

.btn-primary {background-color: #4ba746;background-image: -moz-linear-gradient(top,#4eae49,#469c41);background-image: -ms-linear-gradient(top,#4eae49,#469c41);background-image: -webkit-gradient(linear,0 0,0 100%,from(#4eae49),to(#469c41));background-image: -webkit-linear-gradient(top,#4eae49,#469c41);background-image: -o-linear-gradient(top,#4eae49,#469c41);background-image: linear-gradient(top,#4eae49,#469c41);background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4eae49',endColorstr='#469c41',GradientType=0);border-color: #469c41 #469c41 #2e662b;border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);color: #fff;text-shadow: 0 1px 0 rgba(0,0,0,0.15);}
.btn-large {padding: 9px 27px;font-size: 18px;line-height: normal;font-weight: normal !important;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;font-family: "bariol_regularregular","Helvetica neue",helvetica,sans-serif;}
.btn {display: inline-block;font-family: "helvetica",Arial,sans-serif;font-size: 13px;font-weight: bold;line-height: 20.7px;text-align: center;vertical-align: middle;cursor: pointer;background-image: -moz-linear-gradient(top,#fff,#f6f6f7);background-image: -ms-linear-gradient(top,#fff,#f6f6f7);background-image: -o-linear-gradient(top,#fff,#f6f6f7);background-image: linear-gradient(top,#fff,#f6f6f7);background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f6f6f7',GradientType=0);border-color: #f6f6f7 #f6f6f7 #ccccd5;border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);border: 1px solid rgba(0,0,0,0.2) !important;border-bottom: 1px solid rgba(0,0,0,0.3);-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.05);-moz-box-shadow: 0 2px 3px rgba(0,0,0,0.05);box-shadow: 0 2px 3px rgba(0,0,0,0.05);}

#ui-play{display: block;position: fixed;_position: absolute;left: 5px;bottom: 110px;	z-index: 9999;	height: 60px; width: 60px;text-indent: -999999px; overflow: hidden;	background: #000 url(../images/comm/arrow_icons.png) 22px -117px no-repeat;opacity: 0.1;filter: alpha(opacity=10);	cursor: pointer; -moz-transition: opacity 0.3s ease-in,opacity 0.3s ease-out; -webkit-transition: opacity 0.3s ease-in,opacity 0.3s ease-out;-o-transition: opacity 0.3s ease-in,opacity 0.3s ease-out; transition: opacity 0.3s ease-in,opacity 0.3s ease-out;}
#ui-scrolltop {display: block; position: fixed;_position: absolute;right: 5px;bottom: 110px; z-index: 9999;	height: 60px; width: 60px;text-indent: -999999px; overflow: hidden;	background: #000 url(../images/comm/arrow_icons.png) 18px 25px no-repeat;opacity: 0.1;filter: alpha(opacity=10);	cursor: pointer; -moz-transition: opacity 0.3s ease-in,opacity 0.3s ease-out; -webkit-transition: opacity 0.3s ease-in,opacity 0.3s ease-out;-o-transition: opacity 0.3s ease-in,opacity 0.3s ease-out;	transition: opacity 0.3s ease-in,opacity 0.3s ease-out;}
#ui-scrollbottom {display: block;position: fixed;_position: absolute;right: 5px;bottom: 30px; z-index: 9999;	height: 60px; width: 60px;text-indent: -999999px; overflow: hidden;	background: #000 url(../images/comm/arrow_icons.png) 18px -14px no-repeat;opacity: 0.1;filter: alpha(opacity=10);	cursor: pointer; -moz-transition: opacity 0.3s ease-in,opacity 0.3s ease-out; -webkit-transition: opacity 0.3s ease-in,opacity 0.3s ease-out;-o-transition: opacity 0.3s ease-in,opacity 0.3s ease-out; transition: opacity 0.3s ease-in,opacity 0.3s ease-out;}
#ui-prevpage {display: block;position: fixed;_position: absolute;left: 5px;bottom: 30px; z-index: 9999;	height: 60px; width: 60px;text-indent: -999999px; overflow: hidden;	background: #000 url(../images/comm/arrow_icons.png) 18px -69px no-repeat;opacity: 0.1;filter: alpha(opacity=10);	cursor: pointer; -moz-transition: opacity 0.3s ease-in,opacity 0.3s ease-out; -webkit-transition: opacity 0.3s ease-in,opacity 0.3s ease-out;-o-transition: opacity 0.3s ease-in,opacity 0.3s ease-out; transition: opacity 0.3s ease-in,opacity 0.3s ease-out;}
#ui-nextpage {display: block;position: fixed;_position: absolute;left: 85px;bottom: 30px; z-index: 9999; height: 60px; width: 60px;text-indent: -999999px; overflow: hidden;	background: #000 url(../images/comm/arrow_icons.png) -25px -69px no-repeat;opacity: 0.1;filter: alpha(opacity=10);	cursor: pointer; -moz-transition: opacity 0.3s ease-in,opacity 0.3s ease-out; -webkit-transition: opacity 0.3s ease-in,opacity 0.3s ease-out;-o-transition: opacity 0.3s ease-in,opacity 0.3s ease-out; transition: opacity 0.3s ease-in,opacity 0.3s ease-out;}

/*********** header *************/
#top_logo .top-logo{text-align:center;}
#headq{height:30px;}
#top_logo .ui-input-btn{padding:6px;}
#main_nav{width:100%; margin-bottom:20px; background:#fff;}
#main_nav ul{width:96%; margin:0 auto; display:none; padding:0;}
#main_nav ul li{float:left; width:45%; margin:5px; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; border:1px #eee solid;}
#main_nav ul li a{display:block; width:100%; padding:20px 0; text-align:center;}
#main_nav .nav_btn{display:block; line-height:3.5em; margin:0 auto; border:1px #eee solid; color:#999;}
#main_nav .nav_btn .word{float:left; display:block; width:30%; font-weight:bold; font-size:16px;}
#main_nav .nav_btn .icon{float:right; display:block; width:60%; font-size:18px; margin-right:10px; text-align:right;}
	
/*********** index **************/
#main_content{position:relative;}
#main_content .lazy{ background:url("../images/comm/loading.gif") no-repeat center center;}
#main_content .channel .comm-top{padding:10px 0; margin:0 10px; font-size:18px; color:#999; font-weight:bolder;}
#main_content .channel .comm-top a{color:#999;}
#main_content .channel .comm-top a:hover{color:#666;}
#main_content .channel .comm-top a.more{float:right;}
#main_content .channel .comm-box{width:96%; margin:5px auto; text-align:center;}
#main_content .channel .comm-box .img{width:100%;}
#main_content .channel .comm-box .img a{display:block; width:100%; padding-bottom:142%; text-align:center; margin:0 auto; vertical-align:middle;}
#main_content .channel .comm-box img{max-widht:100%;}
#main_content .channel .comm-box .word{line-height:30px; overflow:hidden;}
#main_content .channel.last{border: 0;}
#main_content .channel.first{padding:10px 0;}
#main_content .home-foot-ad{height:50px;}

#paged{margin:30px 0; text-align:center;}
#paged ul{margin:10px auto; text-align:center;}
#paged ul li{margin:10px; height:42px; width:42px; display:inline-block; float:none;}
#paged ul li a{display:block; line-height:40px; border: 1px #ccc solid;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
#paged ul li a:hover,#paged ul li a.active{background:#4ba746; color:#FFF;}

#main_content .exts .ext{margin:0 30px;}
#main_content font.viewnum{width:100px; height:25px; padding-left:25px; font-size:14px; margin-left:10px; font-weight:normal; background:url(../images/comm/ext_icos.png) 0 0 no-repeat;  top:-18px; right:0; opacity:0.3; filter:alpha(opacity=30);}
#main_content font.viewnum:hover{opacity:1; filter:alpha(opacity=100);}
#main_content a.liked,#main_content a.like:hover{width:100px; height:25px; padding-left:25px; font-size:14px; font-weight:normal; background:url(../images/comm/ext_icos.png) 0 -21px no-repeat;}
#main_content a.like,#main_content a.liked:hover{width:100px; height:25px; padding-left:25px; font-size:14px; font-weight:normal; background:url(../images/comm/ext_icos.png) 0 -41px no-repeat;}

#main_content .picdiv{text-align:center; width:96%; margin:0 auto;}
#main_content .pics.comm-box{margin:30px 0; text-align:center;}
#main_content .pics.comm-box .img{text-align:center; min-height:200px; border:1px #ccc solid;position:relative;}
#main_content  img{ max-width:100%;}
#main_content .pics.comm-box .word{line-height:30px; overflow:hidden; font-size:16px;}

.line{width:100%; border-top: 2px solid #ddd; margin:20px 0;}
/*********** relates ******************/
#relates{margin:10px;}
#relates .comm-box{width:215px; height:330px; border: 1px #ccc solid; float:left; margin:20px 10px;}
#relates .comm-box .img{ width:195px; height:280px; text-align:center; margin:5px auto;}
#relates .comm-box .img a{ width:100%; height:100%; display:block;}
#relates .comm-box .word{font-size:12px; padding:5px; text-align:center;}

/********************* footer  bottomer*******************/
#footer{text-align:center; border-top: 2px solid #ddd;}
#footer .copyright{clear: both; text-align: center; color: #909090; font-size: 12px; line-height: 20px;}
#bottomer{ display:none; min-width:1200px; border-top:1px #ccc solid; height:30px; width:100%; position:fixed; text-align:center; bottom:0; z-index:9999; opacity: 0.6;filter: alpha(opacity=60); background-color:#f5f5f5;}
